

.cartWrapper {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cartIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  font-size: 18px;
}

.productCount {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #f00;
  border-radius: 50%;
}

