.img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    padding: 4px;
    padding-left: 10px;
}

.card {
    cursor: pointer;
    max-width: 600px;
    height: 160px;
}

.card:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    /* layer gray over the card */
    box-shadow: 0 0 0 1px rgba(141, 141, 141, 0.1);
}