.number {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}

.minus,
.plus {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid rgb(13, 15, 122);
  background-color: #ffffff;
  color: rgb(13, 15, 122);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  line-height: 1.5rem;
  user-select: none;
}

.minus:hover,
.plus:hover {
  background-color: #97979793;
}

.num {
  font-size: 25px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  color: #2b2f31;
}
