.productCarouselImg {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  margin: 0 auto;
}

.container-carousel {
  max-height: 50vh !important;

}

.carousel,
.slide {
  max-height: 100% !important;
}